@import "../globals/variables";

// Accounts section
#accounts {
  h4 {
    padding: 0 0 5px 10px;
    border-bottom: 5px solid $main-color;
  }
  ul {
    margin-bottom: 20px;
    
    li {
      margin: 10px;
      
      img {
        margin-right: 6px;
      }
    }
  }
}
