/* line 4, ../../sass/sections/footer.scss */
footer {
  margin-top: 40px;
  padding: 20px 0;
}
/* line 8, ../../sass/sections/footer.scss */
footer #legal {
  margin: 0;
  list-style: none;
}
/* line 12, ../../sass/sections/footer.scss */
footer #legal li {
  display: inline-block;
  margin-right: 15px;
}
/* line 17, ../../sass/sections/footer.scss */
footer #copyright {
  font-size: 12px;
  float: right;
  color: #777777;
}
