/* line 4, ../../sass/sections/navigation.scss */
#navbar {
  margin-bottom: 20px;
}
/* line 7, ../../sass/sections/navigation.scss */
#navbar #logo {
  position: absolute;
  top: 0;
}
/* line 11, ../../sass/sections/navigation.scss */
#navbar div.navbar-inner {
  background: #152531;
  -webkit-box-shadow: black 0 0 5px;
  -moz-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
}
/* line 15, ../../sass/sections/navigation.scss */
#navbar ul.nav {
  float: right;
}
