/* line 2, ../../sass/sections/navigation.scss */
#navbar {
  margin-bottom: 20px;
}
/* line 5, ../../sass/sections/navigation.scss */
#navbar #logo {
  position: absolute;
  top: 0;
}
/* line 9, ../../sass/sections/navigation.scss */
#navbar div.naverbar-inner {
  background: #152531;
}
/* line 12, ../../sass/sections/navigation.scss */
#navbar ul.nav {
  float: right;
}
