.project {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  
  a.btn-info {
    float: right;
  }
}

.repo {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.app {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Footer */
footer {
  margin-top: 40px;
  padding: 20px 0;
  
  ul#legal {
    margin: 0;
    list-style: none;
    
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
  p#copyright {
    float: right;
  }
}