/* line 5, ../sass/globals/buttons.scss */
.btn-green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #669933), color-stop(100%, #406020));
  background-image: -webkit-linear-gradient(top, #669933, #406020);
  background-image: -moz-linear-gradient(top, #669933, #406020);
  background-image: -o-linear-gradient(top, #669933, #406020);
  background-image: linear-gradient(top, #669933, #406020);
  background-color: #4d7326;
  border-color: #406020 #406020 #334d19;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* line 11, ../sass/globals/buttons.scss */
.btn-green:hover {
  background-color: #406020;
}
/* line 14, ../sass/globals/buttons.scss */
.btn-green:active {
  background-color: #334d19;
}

/* line 19, ../sass/globals/buttons.scss */
.btn-gray {
  color: #f1f1f1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0000ff), color-stop(100%, #0000cc));
  background-image: -webkit-linear-gradient(top, #0000ff, #0000cc);
  background-image: -moz-linear-gradient(top, #0000ff, #0000cc);
  background-image: -o-linear-gradient(top, #0000ff, #0000cc);
  background-image: linear-gradient(top, #0000ff, #0000cc);
  background-color: gray;
  border-color: #666666 #666666 #595959;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* line 27, ../sass/globals/buttons.scss */
.btn-gray:hover {
  color: white;
  background-color: #666;
}
/* line 31, ../sass/globals/buttons.scss */
.btn-gray:active {
  color: white;
  background-color: #595959;
}

/* line 4, ../sass/globals/icons.scss */
.large-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
}

/* line 10, ../sass/globals/icons.scss */
.small-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* line 16, ../sass/globals/icons.scss */
.public-repo-icon {
  background: url("../img/public-repo-icon.png") no-repeat;
}

/* line 20, ../sass/globals/icons.scss */
.private-repo-icon {
  background: url("../img/private-repo-icon.png") no-repeat;
}

/* line 24, ../sass/globals/icons.scss */
.profile-icon {
  background: url("../img/profile-icons.png") no-repeat;
}

/* line 28, ../sass/globals/icons.scss */
.billing-icon {
  background: url("../img/profile-icons.png") -18px 0 no-repeat;
}

/* line 32, ../sass/globals/icons.scss */
.connections-icon {
  background: url("../img/profile-icons.png") -36px 0 no-repeat;
}

/* line 6, ../sass/components/projects.scss */
.project {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}
/* line 11, ../sass/components/projects.scss */
.project span.large-icon {
  float: left;
  margin: 2px 10px 0 0;
}
/* line 15, ../sass/components/projects.scss */
.project h3 {
  line-height: 25px;
}
/* line 18, ../sass/components/projects.scss */
.project h3 a.label-hasdocs {
  font-size: 10px;
  vertical-align: middle;
  padding: 1px 3px;
  border-radius: 2px;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a4961), color-stop(100%, #13212c));
  background-image: -webkit-linear-gradient(top, #2a4961, #13212c);
  background-image: -moz-linear-gradient(top, #2a4961, #13212c);
  background-image: -o-linear-gradient(top, #2a4961, #13212c);
  background-image: linear-gradient(top, #2a4961, #13212c);
  text-decoration: none;
}
/* line 28, ../sass/components/projects.scss */
.project ul.stats {
  float: right;
  margin-bottom: 10px;
  color: #777777;
}
/* line 33, ../sass/components/projects.scss */
.project ul.stats li {
  float: left;
  margin-left: 20px;
}
/* line 38, ../sass/components/projects.scss */
.project a.btn-primary {
  float: right;
  clear: right;
}
/* line 42, ../sass/components/projects.scss */
.project p {
  margin-left: 47px;
}
/* line 45, ../sass/components/projects.scss */
.project p.description {
  margin-bottom: 5px;
}
/* line 48, ../sass/components/projects.scss */
.project p.mod_date {
  font-size: 12px;
  margin-bottom: 0;
  color: #777777;
}

/* line 4, ../sass/sections/navigation.scss */
#navbar {
  margin-bottom: 20px;
}
/* line 7, ../sass/sections/navigation.scss */
#navbar #logo {
  position: absolute;
  top: 0;
}
/* line 11, ../sass/sections/navigation.scss */
#navbar div.navbar-inner {
  background: #152531;
  -webkit-box-shadow: black 0 0 5px;
  -moz-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
}
/* line 15, ../sass/sections/navigation.scss */
#navbar ul.nav {
  float: right;
}

/* line 4, ../sass/sections/footer.scss */
footer {
  margin-top: 40px;
  padding: 20px 0;
}
/* line 8, ../sass/sections/footer.scss */
footer #legal {
  margin: 0;
  list-style: none;
}
/* line 12, ../sass/sections/footer.scss */
footer #legal li {
  display: inline-block;
  margin-right: 15px;
}
/* line 17, ../sass/sections/footer.scss */
footer #copyright {
  font-size: 12px;
  float: right;
  color: #777777;
}

/* line 6, ../sass/sections/accounts.scss */
#accounts {
  width: 200px;
  margin-right: 20px;
}
/* line 10, ../sass/sections/accounts.scss */
#accounts h4 {
  padding: 0 0 5px 10px;
  border-bottom: 5px solid #669933;
}
/* line 14, ../sass/sections/accounts.scss */
#accounts ul {
  margin-bottom: 20px;
}
/* line 17, ../sass/sections/accounts.scss */
#accounts ul li {
  margin: 10px;
}
/* line 20, ../sass/sections/accounts.scss */
#accounts ul li img {
  margin-right: 6px;
}

/* line 28, ../sass/sections/accounts.scss */
#repositories h2 {
  margin-bottom: 20px;
}
/* line 31, ../sass/sections/accounts.scss */
#repositories #sync-form {
  margin-bottom: 12px;
}

/* line 4, ../sass/sections/plans.scss */
#individual-plans {
  text-align: center;
}
/* line 7, ../sass/sections/plans.scss */
#individual-plans span.symbol, #individual-plans span.amount {
  font-size: 18px;
  font-weight: bold;
}

/* line 6, ../sass/sections/settings.scss */
.settings-menu {
  width: 200px;
  margin-right: 20px;
}
/* line 10, ../sass/sections/settings.scss */
.settings-menu h3 {
  padding: 0 0 5px 10px;
  margin-bottom: 0;
  border-bottom: 5px solid #669933;
}
/* line 16, ../sass/sections/settings.scss */
.settings-menu .nav-stacked a {
  font-weight: bold;
  color: #aaa;
  padding: 8px;
  line-height: 20px;
  height: 26px;
}
/* line 23, ../sass/sections/settings.scss */
.settings-menu .nav-stacked a:hover {
  color: #669933;
  background: none;
}
/* line 28, ../sass/sections/settings.scss */
.settings-menu .nav-stacked .active a {
  color: #669933;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #28475e), color-stop(100%, #020304));
  background: -webkit-linear-gradient(top, #28475e, #020304);
  background: -moz-linear-gradient(top, #28475e, #020304);
  background: -o-linear-gradient(top, #28475e, #020304);
  background: linear-gradient(top, #28475e, #020304);
}
/* line 32, ../sass/sections/settings.scss */
.settings-menu .nav-stacked .small-icon {
  position: relative;
  top: 3px;
}

/* line 16, ../sass/application.scss */
body {
  background: url("../img/background.png");
}

/* line 20, ../sass/application.scss */
.container {
  padding: 0 32px;
}

/* line 24, ../sass/application.scss */
.page-header {
  border-bottom-color: #cccccc;
}

/* line 29, ../sass/application.scss */
a {
  color: #669933;
}
/* line 32, ../sass/application.scss */
a:hover {
  color: #406020;
}

/* line 39, ../sass/application.scss */
form .form-actions {
  background: none;
  border-top-color: #cccccc;
}

/* line 46, ../sass/application.scss */
#intro {
  color: white;
}
/* line 49, ../sass/application.scss */
#intro #intro-background {
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  height: 370px;
  z-index: -1;
  background: url("../img/intro-background.png");
}
/* line 58, ../sass/application.scss */
#intro #intro-image {
  float: right;
  margin: 0 10px;
}
/* line 62, ../sass/application.scss */
#intro #intro-text {
  width: 460px;
  height: 330px;
  margin: 0 10px;
}
/* line 67, ../sass/application.scss */
#intro h1 {
  font-size: 40px;
  text-shadow: 0 1px 1px black;
  padding-top: 60px;
}
/* line 72, ../sass/application.scss */
#intro p {
  font-size: 18px;
  text-shadow: 0 1px 1px black;
  padding: 10px 0;
}
/* line 77, ../sass/application.scss */
#intro a.btn-primary {
  margin-left: 70px;
}

/* line 82, ../sass/application.scss */
#features {
  text-align: center;
}
/* line 83, ../sass/application.scss */
#features #features-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 230px;
  z-index: -1;
  background: #141414;
  -webkit-box-shadow: 0 1px 10px;
  -moz-box-shadow: 0 1px 10px;
  box-shadow: 0 1px 10px;
}
/* line 94, ../sass/application.scss */
#features h3, #features p {
  color: #999;
}
/* line 97, ../sass/application.scss */
#features h3 {
  margin-top: 0;
}

/* line 103, ../sass/application.scss */
#bootcamp {
  list-style-type: none;
  counter-reset: li;
}
/* line 107, ../sass/application.scss */
#bootcamp li {
  background: white;
  height: 214px;
}
/* line 111, ../sass/application.scss */
#bootcamp li h4 {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5674b0), color-stop(100%, #293658));
  background-image: -webkit-linear-gradient(top, #5674b0, #293658);
  background-image: -moz-linear-gradient(top, #5674b0, #293658);
  background-image: -o-linear-gradient(top, #5674b0, #293658);
  background-image: linear-gradient(top, #5674b0, #293658);
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 1px black;
}
/* line 120, ../sass/application.scss */
#bootcamp #step1 {
  background: url("../img/signup.png") 0 36px;
}
/* line 123, ../sass/application.scss */
#bootcamp #step2 {
  background: url("../img/write-the-docs.png") 0 36px;
}
/* line 126, ../sass/application.scss */
#bootcamp #step3 {
  background: url("../img/import.png") 0 36px;
}
/* line 129, ../sass/application.scss */
#bootcamp #step4 {
  background: url("../img/deploy.png") 0 36px;
}

/* line 135, ../sass/application.scss */
article {
  width: 660px;
  margin: 10px auto;
  display: block;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 18px 18px 18px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(113, 123, 149, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(113, 123, 149, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(113, 123, 149, 0.2);
}
/* line 144, ../sass/application.scss */
article h2 {
  font-size: 18px;
}
/* line 147, ../sass/application.scss */
article h3 {
  font-size: 15px;
  line-height: 32px;
}

/* line 155, ../sass/application.scss */
#contact #div_id_name, #contact #div_id_email {
  float: left;
}
/* line 159, ../sass/application.scss */
#contact #div_id_email label {
  width: 130px;
}
/* line 162, ../sass/application.scss */
#contact #div_id_email div.controls {
  margin-left: 154px;
  margin-right: 30px;
}
/* line 167, ../sass/application.scss */
#contact #id_subject, #contact #id_body {
  width: 580px;
}
/* line 170, ../sass/application.scss */
#contact div.form-actions {
  background: none;
  border-top-color: #d4d4d4;
}

/* line 177, ../sass/application.scss */
#thanks {
  margin-top: 20px;
}
/* line 180, ../sass/application.scss */
#thanks img {
  float: left;
  margin: 10px 50px;
}
/* line 184, ../sass/application.scss */
#thanks div {
  float: left;
  margin: 110px 50px;
}
/* line 188, ../sass/application.scss */
#thanks div h3 {
  line-height: 25px;
}
/* line 191, ../sass/application.scss */
#thanks div a {
  margin-top: 20px;
}

/* line 198, ../sass/application.scss */
#error-404 {
  background: url("../img/intro-background.png");
}
/* line 201, ../sass/application.scss */
#error-404 img {
  display: block;
  margin: 0 auto;
}

/* line 209, ../sass/application.scss */
#account-detail #settings {
  float: right;
  margin-top: 15px;
}
/* line 213, ../sass/application.scss */
#account-detail #sync-button {
  float: left;
  margin-right: 10px;
}
/* line 217, ../sass/application.scss */
#account-detail p.sync-date {
  font-size: 12px;
  line-height: 30px;
  padding-bottom: 12px;
  color: #777777;
  border-bottom: 1px solid #cccccc;
}
