/* line 5, ../sass/globals/buttons.scss */
.btn-green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #669933), color-stop(100%, #406020));
  background-image: -webkit-linear-gradient(top, #669933, #406020);
  background-image: -moz-linear-gradient(top, #669933, #406020);
  background-image: -o-linear-gradient(top, #669933, #406020);
  background-image: linear-gradient(top, #669933, #406020);
  background-color: #4d7326;
}
/* line 9, ../sass/globals/buttons.scss */
.btn-green:hover {
  background-color: #406020;
}
/* line 12, ../sass/globals/buttons.scss */
.btn-green:active {
  background-color: #334d19;
}

/* line 4, ../sass/globals/icons.scss */
.large-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
}

/* line 9, ../sass/globals/icons.scss */
.public-repo-icon {
  background: url("../img/public_repo_icon.png") no-repeat;
}

/* line 12, ../sass/globals/icons.scss */
.private-repo-icon {
  background: url("../img/private_repo_icon.png") no-repeat;
}

/* line 6, ../sass/components/projects.scss */
.project {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}
/* line 11, ../sass/components/projects.scss */
.project span.large-icon {
  float: left;
  margin: 2px 10px 0 0;
}
/* line 15, ../sass/components/projects.scss */
.project h3 {
  line-height: 25px;
}
/* line 18, ../sass/components/projects.scss */
.project h3 a {
  color: #669933;
}
/* line 21, ../sass/components/projects.scss */
.project h3 a:hover {
  color: #406020;
}
/* line 25, ../sass/components/projects.scss */
.project h3 a.label-hasdocs {
  font-size: 10px;
  vertical-align: middle;
  padding: 1px 3px;
  border-radius: 2px;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a4961), color-stop(100%, #13212c));
  background-image: -webkit-linear-gradient(top, #2a4961, #13212c);
  background-image: -moz-linear-gradient(top, #2a4961, #13212c);
  background-image: -o-linear-gradient(top, #2a4961, #13212c);
  background-image: linear-gradient(top, #2a4961, #13212c);
  text-decoration: none;
}
/* line 35, ../sass/components/projects.scss */
.project ul.stats {
  float: right;
  margin-bottom: 10px;
  color: #777777;
}
/* line 40, ../sass/components/projects.scss */
.project ul.stats li {
  float: left;
  margin-left: 20px;
}
/* line 45, ../sass/components/projects.scss */
.project a.btn-primary {
  float: right;
  clear: right;
}
/* line 49, ../sass/components/projects.scss */
.project p {
  margin-left: 47px;
}
/* line 52, ../sass/components/projects.scss */
.project p.description {
  margin-bottom: 5px;
}
/* line 55, ../sass/components/projects.scss */
.project p.mod_date {
  font-size: 12px;
  margin-bottom: 0;
  color: #777777;
}

/* line 2, ../sass/sections/navigation.scss */
#navbar {
  margin-bottom: 20px;
}
/* line 5, ../sass/sections/navigation.scss */
#navbar #logo {
  position: absolute;
  top: 0;
}
/* line 9, ../sass/sections/navigation.scss */
#navbar div.naverbar-inner {
  background: #152531;
}
/* line 12, ../sass/sections/navigation.scss */
#navbar ul.nav {
  float: right;
}

/* line 2, ../sass/sections/footer.scss */
footer {
  margin-top: 40px;
  padding: 20px 0;
}
/* line 6, ../sass/sections/footer.scss */
footer #legal {
  margin: 0;
  list-style: none;
}
/* line 10, ../sass/sections/footer.scss */
footer #legal li {
  display: inline-block;
  margin-right: 15px;
}
/* line 15, ../sass/sections/footer.scss */
footer #copyright {
  float: right;
}

/* line 5, ../sass/sections/accounts.scss */
#accounts h4 {
  padding: 0 0 5px 10px;
  border-bottom: 5px solid #669933;
}
/* line 9, ../sass/sections/accounts.scss */
#accounts ul {
  margin-bottom: 20px;
}
/* line 12, ../sass/sections/accounts.scss */
#accounts ul li {
  margin: 10px;
}
/* line 15, ../sass/sections/accounts.scss */
#accounts ul li img {
  margin-right: 6px;
}

/* line 10, ../sass/application.scss */
body {
  background: url("../img/background.png");
}

/* line 14, ../sass/application.scss */
.container {
  padding: 0 32px;
}

/* line 18, ../sass/application.scss */
.page-header {
  border-bottom-color: #cccccc;
}

/* line 25, ../sass/application.scss */
#account-detail #settings {
  float: right;
  margin-top: 15px;
}
/* line 29, ../sass/application.scss */
#account-detail #sync {
  float: left;
  margin-right: 10px;
}
/* line 33, ../sass/application.scss */
#account-detail p.sync-date {
  font-size: 12px;
  line-height: 30px;
  padding-bottom: 12px;
  color: #777777;
  border-bottom: 1px solid #cccccc;
}
