@import "compass/css3/images";

@import "../globals/variables";

.btn-green {
  @include background-image(linear-gradient(top, $main-color, $main-color-dark));
  background-color: darken($main-color, 10%);
  border-color: $main-color-dark $main-color-dark darken($main-color-dark, 5%);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
  &:hover {
    background-color: $main-color-dark;
  }
  &:active {
    background-color: darken($main-color-dark, 5%);
  }
}

.btn-gray {
  color: #f1f1f1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  @include background-image(linear-gradient(top, blue, darken(blue, 10%)));
  background-color: darken(#999, 10%);
  border-color: #666 #666 darken(#666, 5%);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
  &:hover {
    color: white;
    background-color: #666;
  }
  &:active {
    color: white;
    background-color: darken(#666, 5%);
  }
}
