@import "../globals/variables";

// Icons
.large-icon {
  width: $large-icon-size;
  height: $large-icon-size;
  display: inline-block;
}
.public-repo-icon {
  background: url("../img/public-repo-icon.png") no-repeat;
}
.private-repo-icon {
  background: url("../img/private-repo-icon.png") no-repeat;
}
