// Main identity color
$main-color: #669933;
$main-color-dark: darken($main-color, 15%);

$label-color: #2a4961;
$label-color-dark: darken($label-color, 15%);

$border-color: #ccc;

$muted-color: #777;

$large-icon-size: 37px;
