@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "globals/buttons";
@import "globals/icons";

@import "components/projects";

@import "sections/navigation";
@import "sections/footer";
@import "sections/accounts";
@import "sections/plans";

body {
  background: url("../img/background.png");
}

.container {
  padding: 0 32px;
}

.page-header {
  border-bottom-color: $border-color;
}

// Links
a {
  color: $main-color;
  
  &:hover {
    color: $main-color-dark;
  }
}

// Home
#intro {
  color: white;  

  #intro-background {
    position: absolute;
    top: 41px;
    left: 0;    
    width: 100%;
    height: 370px;
    z-index: -1;
    background: url("../img/intro-background.png");
  }
  #intro-image {
    float: right;
    margin: 0 10px;
  }
  #intro-text {
    width: 460px;
    height: 330px;
    margin: 0 10px;
  }
  h1 {
    font-size: 40px;
    text-shadow: 0 1px 1px black;
    padding-top: 60px;
  }
  p {
    font-size: 18px;
    text-shadow: 0 1px 1px black;
    padding: 10px 0;
  }
  a.btn-primary {
    margin-left: 70px;
  }
}

#features {
  #features-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 230px;
    z-index: -1;
    background: #141414;
    @include box-shadow(0 1px 10px);
  }
  text-align: center;  

  h3, p {
    color: #999;
  }
  h3 {
    margin-top: 0;
  }
}

// Help
#bootcamp {
  list-style-type: none;
  counter-reset: li;
  
  li {
    background: white;
    height: 214px;
    
    h4 {
      color: white;
      @include background-image(linear-gradient(top, #5674b0, #293658));
      margin: 0;
      padding: 8px 0;
      text-align: center;
      text-shadow: 0 1px 1px black;
    }
  }
  #step1 {
    background: url("../img/signup.png") 0 36px;
  }
  #step2 {
    background: url("../img/write-the-docs.png") 0 36px;
  }
  #step3 {
    background: url("../img/import.png") 0 36px;
  }
  #step4 {
    background: url("../img/deploy.png") 0 36px;
  }
}

// Article
article {
  width: 660px;
  margin: 10px auto;
  display: block;
  background: white;
  @include border-radius;
  padding: 8px 18px 18px 18px;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(113, 123, 149, .2));

  h2 {
    font-size: 18px;
  }
}

// Contact
#contact {
  #div_id_name, #div_id_email {
    float: left;
  }
  #div_id_email {
    label {
      width: 130px;
    }
    div.controls {
      margin-left: 154px;
      margin-right: 30px;
    }
  }
  #id_subject, #id_body {
    width: 580px;
  }
  div.form-actions {
    background: none;
    border-top-color: #d4d4d4;
  }
}

// Thanks
#thanks {
  margin-top: 20px;
  
  img {
    float: left;
    margin: 10px 50px;
  }
  div {
    float: left;
    margin: 110px 50px;
    
    h3 {
      line-height: 25px;      
    }
    a {
      margin-top: 20px;
    }
  }
}

// 404 Page Not Found
#error-404 {
  background: url("../img/intro-background.png");
  
  img {
    display: block;
    margin: 0 auto;
  }
}

// Account detail
#account-detail {
  #settings {
    float: right;
    margin-top: 15px;
  }
  #sync-button {
    float: left;
    margin-right: 10px;
  }
  p.sync-date {
    font-size: 12px;
    line-height: 30px;
    padding-bottom: 12px;
    color: $muted-color;
    border-bottom: 1px solid $border-color;
  }
}
